.form-container{
    overflow-y:scroll ;
    max-height: 100vh;
    width: 100%;
}
@media (max-width:992px) {
    .form-container{
        margin-top: 2rem;
        overflow-y:initial ;
        height: auto;
        width: 100%;
    }
}