.contenedor{
    width: 100%;
    min-height: 91vh;
    background-color: rgba(102, 159, 173, 0.26);
}
.boton-habitaciones{
    width: 2rem;
    border-radius: 50%;
    border: outset;
}
.boton-habitaciones:hover{
    color: black
}
p{
    font-size: 0.9rem;
}
@media (max-width:575px) {
    .contenedor{
        min-height:100vh;
    }
}