.recuperar-password-contenedor{
    min-height: 91.1vh;
    background-image: url('../images/login-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}