.Header{
    
    background-image: linear-gradient(rgba(68, 68, 65, 0.315), rgba(102, 159, 173, 0.26));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10%;
}