.contenedor-home{
    background-image: linear-gradient(rgba(228, 240, 240, 0.137), rgba(29, 25, 25, 0.301)), url('../images/posible-bg-home.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 91.1%;
}
.home-container{
    height: 100vh;
}

/* .h2dad{
    box-shadow: .1rem 1rem 2rem  rgba(2, 2, 2, 0.267);
    background-color: rgba(65, 167, 167, 0.144);
} */

.texto{
    text-shadow:2px 2px 0px rgba(7, 7, 7, 0.945) ;
}
@media (max-width: 987px) {
    .contenedor-home{
        min-height: 90%;
    }
    .h2dad{
        box-shadow: .1rem 1rem 2rem  rgba(2, 2, 2, 0.267);
        background-color: rgba(19, 90, 112, 0.507);
    }
}
