.contenedor-home{
    background-image: linear-gradient(rgba(17, 17, 17, 0.637), rgba(29, 29, 27, 0.103)), url('../images/fondo-home.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 91.1%;
}
.home-container{
    height: 100vh;
}

.texto{
    text-shadow:2px 3px 0px rgba(7, 7, 7, 0.945) ;
}
@media (max-width: 987px) {
    .contenedor-home{
        min-height: 90%;
    }
}
