.sidebar{
    height:100vh;
    width:max-content
}
.lista{
    list-style: none;
}

.img-perfil{
    width:5rem
}
.contenido-sidebar{
    background-image: url('../images/cool-background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links:hover{
color:darkslategray!important
}

.cerrar-sesion{
    color: rgb(44, 46, 46)!important;
    font-weight: bold
}

.cerrar-sesion:hover {
    color: darkslategray !important;
    font-weight: bold
}